In [1]:
import numpy as np
import pandas as pd
import json
import os
#import pdb

pd.options.mode.chained_assignment = None

In [2]:
with open('config.json') as f:
    config = json.load(f)

in_file = config['pdf_input_location']
password = config['password']
file_list = [x.split('.')[0] for x in os.listdir(in_file['pdf_input_location'])]
out_file = config['csv_output_location']

In [3]:
#Concatenated yearly statment
df_in_yrly_stmt = pd.read_csv(out_file['csv_output_location']+'all_yrly_stmt.csv')

#Deposits\dr\debits in account
df_in_yrly_stmt_dr = df_in_yrly_stmt[df_in_yrly_stmt['Deposit Amount'].str.replace(',', '').astype(float) > 0.00]
#df_in_yrly_stmt_dr.to_csv(out_file['csv_output_location']+'all_deposit.csv',header=True,index=False)

#Deposit lookup which has deposit label defined by user
df_in_depost_lookup = pd.read_csv(in_file['pdf_input_location']+'deposit labels.csv')
df_in_depost_lookup = df_in_depost_lookup.apply(lambda x: x.astype(str).str.upper())
lkp_dct = df_in_depost_lookup.to_dict()

In [9]:
for i in lkp_dct:
    for j in lkp_dct[i]:
        print(str(lkp_dct['Input text'][j]).strip(),lkp_dct['New text'][j])
        #pdb.set_trace()
        df_in_yrly_stmt_dr['Deposit disciription'] = np.where(df_in_yrly_stmt_dr['Narration'].str.contains(str(lkp_dct['Input text'][j]).strip()),str(lkp_dct['New text'][j]),df_in_yrly_stmt_dr['Narration'])
        #df_in_yrly_stmt_dr['Deposit disciription'] = np.where(df_in_yrly_stmt_dr['Narration'].str.contains(str('VIRENDRA')),str(lkp_dct['New text'][j]),df_in_yrly_stmt_dr['Narration'])
    break
#df_in_yrly_stmt_dr

SALARY SALARY
DIVIDEND DIVIDEND
UPI-VIRENDRA SARLA WO RA-VIRENDRASUGANDH SAIRAM BPR
UPI-YOGESH RATHORE YOGESH RATHORE

In [5]:
df_in_yrly_stmt_dr['Deposit disciription'] = np.where(df_in_yrly_stmt_dr['Narration'].str.contains('VIRENDRA'),'VIRENDRA',df_in_yrly_stmt_dr['Narration'])

df_in_yrly_stmt_dr

,Date,Narration,Chq. / Ref No.,Value Date,Withdrawal Amount,Deposit Amount,Closing Balance*,Deposit disciription
29,05/01/2022,UPI-VIRENDRA SARLA WO RA-VIRENDRASUGANDH\nI.79...,200547005296,05/01/2022,0.00,"3,000.00","1,42,350.79",VIRENDRA
44,11/01/2022,UPI-VIRENDRA SARLA WO RA-VIRENDRASUGANDH\nI.79...,201156184548,11/01/2022,0.00,"1,000.00","35,325.79",VIRENDRA
69,20/01/2022,UPI-SOPAN YENARE-SOPANYENARE147@OKICICI-\nUBIN...,202049484093,20/01/2022,0.00,"6,000.00","16,238.79",UPI-SOPAN YENARE-SOPANYENARE147@OKICICI-\nUBIN...
75,24/01/2022,50100353917056-TPT-TILE FITTING-RUPAL PA\nTIDAR,000176845284,24/01/2022,0.00,"19,000.00","32,808.79",50100353917056-TPT-TILE FITTING-RUPAL PA\nTIDAR
80,28/01/2022,NEFT CR-ICIC0000009-NEUSTAR DATA INFOTEC\n SAL...,CMS2365239219,28/01/2022,0.00,"1,62,824.00","1,75,334.79",NEFT CR-ICIC0000009-NEUSTAR DATA INFOTEC\n SAL...
...,...,...,...,...,...,...,...,...
2645,29/12/2020,IMPS-036411373944-DHIRAJ LAXMIDAS PATE-H\nDFC-...,036411373944,29/12/2020,0.00,"5,000.00","6,574.26",IMPS-036411373944-DHIRAJ LAXMIDAS PATE-H\nDFC-...
2648,30/12/2020,ACH C- SAL-NEUSTAR DATA INF-SALARYDECEMB,002945621411,30/12/2020,0.00,"1,04,237.00","1,05,763.26",ACH C- SAL-NEUSTAR DATA INF-SALARYDECEMB
2651,30/12/2020,REV-IMPS-036515367397-MY EDUCATION LOAN-\nBKID...,036515367397,30/12/2020,0.00,"50,000.00","83,760.26",REV-IMPS-036515367397-MY EDUCATION LOAN-\nBKID...
2653,30/12/2020,UPI-MANOJ SHARMA-MANOJSHARMA.IIMET@OKHDF\nCBAN...,036516744070,30/12/2020,0.00,200.00,"33,960.26",UPI-MANOJ SHARMA-MANOJSHARMA.IIMET@OKHDF\nCBAN...
2655,01/01/2021,CREDIT INTEREST CAPITALISED,CREDIT INTEREST CAPITALISED,31/12/2020,0.00,118.00,"30,078.26",CREDIT INTEREST CAPITALISED

In [6]:
#df_in_yrly_stmt_dr.to_csv(out_file['csv_output_location']+'all_deposit.csv',header=True,index=False)
#%reset -f